<table class="table table-hover" ng-hide="!create.tableData.length">
  <thead>
    <tr>
      <th>Part description</th>
      <th>Part number</th>
      <th>Brand name</th>
      <th>Quantity (qty)</th>
      <th>Price</th>
      <th>Condition</th>
      <th>Location (warehouse is huge)</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in create.tableData track by $index">
      <td column-edit="{{ $index }}"><span class="display-row">{{ row.description }}</span><input class="edit-row hidden" type="text" ng-model="row.description"></td>
      <td column-edit="{{ $index }}"><span class="display-row">{{ row.number }}</span><input class="edit-row hidden" type="number" ng-model="row.number"></td>
      <td column-edit="{{ $index }}"><span class="display-row">{{ row.brand_name }}</span><input class="edit-row hidden" type="text" ng-model="row.brand_name"></td>
      <td column-edit="{{ $index }}"><span class="display-row">{{ row.quantity }}</span><input class="edit-row hidden" type="number" ng-model="row.quantity"></td>
      <td column-edit="{{ $index }}"><span class="display-row">{{ row.price }}</span><input class="edit-row hidden" type="number" ng-model="row.price"></td>
      <td column-edit="{{ $index }}"><span class="display-row">{{ row.condition }}</span><input class="edit-row hidden" type="text" ng-model="row.condition"></td>
      <td column-edit="{{ $index }}"><span class="display-row">{{ row.location }}</span><input class="edit-row hidden" type="text" ng-model="row.location"></td>
    </tr>
  </tbody>
</table>
<div class="form-group">
  <label for="excelTextarea">Past your excel code here</label>
  <textarea class="form-control" id="excelTextarea" ng-model="create.excelData" ng-change="" rows="3"></textarea>
</div>
<div class="button-group">
  <button class="btn btn-primary" ng-click="create.checkMyCode($event)">Import</button>
  <button class="btn btn-primary" ng-click="create.sendDataToBackend()">Save</button>
</div>

