<div class="pure-g">
  <div class="pure-u-1 text-center">
    <p>&copy; 2018 - <a href="#">Excel</a>
  </div>
  <div class="pure-u-1 text-center">
    <ul class="hlist">
      <li><a target="_blank" href="#">twitter</a>
      </li>
      <li><a target="_blank" href="#">g+</a>
      </li>
      <li><a target="_blank" href="#">LinkedIn</a>
      </li>
      <li><a target="_blank" href="#">GitHub</a>
      </li>
    </ul>
  </div>
</div>
