<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <ul>
    <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.home">{{ 'home' | uppercase }}</a>
    </li>
    <li ui-sref-active="pure-menu-selected"><a href ui-sref="root.create">{{ 'create' | uppercase }}</a>
    </li>
  </ul>
</div>
